body {
  padding-right: 10px;
  padding-left: 10px;
}

.main {
  text-align: left;
  background-color: #f2f2f2;
  padding: 20px;
  overflow: hidden; /* Clear the float */
}

.left {
  float: left; /* Float the <h2> and <h3> tags to the left */
  margin-right: 20px; /* Add margin between <h2>, <h3>, and the image if desired */
}

.right {
  float: right;
  padding-right: 10px; /* Float the image to the right */
}

.patient-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding-right: 0px;
}

.progress-div {
  background-color: #012e57;
  padding-top: 2px;
  padding-left: 30px;
  padding-bottom: 25px;
  border-radius: 20px;
}

.light-text {
  opacity: 0.5;
}

.text-weight {
  font-size: 18.5px; /* Set the font size of the text */
  font-weight: 400;
}

.left-text {
  float: left;
}

.right-text {
  float: right;
}

.heroicon {
  width: 1em; /* Set the width of the Heroicon to match the font size */
  height: 1em; /* Set the height of the Heroicon to match the font size */
}

.icon-container {
  font-size: 24px; /* Set the font size of the container to resize the text and Heroicon */
  display: flex;
  align-items: center;
}

.heroicon {
  width: 24px; /* Set the width of the Heroicon */
  height: 24px; /* Set the height of the Heroicon */

  margin-right: 8px; /* Add some spacing between the Heroicon and the text */
}

.texts {
  font-size: 15px; /* Set the font size of the text */
  font-weight: 400;
}

.colors {
  color: #012e57;
}

.weights {
  font-weight: 650;
}

.weights-2 {
  font-weight: 550;
  font-size: 19px;
}

.progress {
  position: relative;
  padding-left: 40px;
  float: left;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
}
.barOverflow {
  /* Wraps the rotating .bar */
  position: relative;
  width: 180px;
  height: 90px; /* Half circle (overflow) */
  margin-bottom: -30px; /* bring the numbers up */
  overflow: hidden;
  padding-left: 10px;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 18px solid #fcb000; /* half gray, */
  border-bottom-color: #ccc; /* half azure */
  border-right-color: #ccc;
}

.text-color-white {
  color: white;
  font-weight: 400px;
}

.text-bar {
  color: white;
  text-align: center;
}

.float-right {
  float: right;
  padding-left: 30px;
  padding-right: 100px;
}

.float-top {
  float: top;
  padding-bottom: 10px;
  height: 39px;
  width: 75px;
  border-radius: 5px;
}
.float-bottom {
  display: block;
  height: 39px;
  width: 75px;
  border-radius: 5px;
}
